@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Vidaloka&family=Volkhov:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Helvetica,Arial,sans-serif;
    color:#98A9E9;
    background:transparent;
    vertical-align:middle;
}

body{
    margin:0 auto;
    padding-left:5%;
    padding-right:5%;
    background-color:#0A0908;
}

/* FONT STYLES */
h1{
    font-family:'Cormorant Garamond', Times, serif;
    text-transform:uppercase;
    color:#98A9E9;
    font-size:5.5vw;
    font-style:italic;
    text-align:left;
}
h2,h3{
    font-weight:normal;
}
h2{
    font-style:italic;
    text-transform:uppercase;
    line-height:1.75em;
}
h3{
    color:#98A9E9;
}
p{
    font-weight:200;
    /* font-size:larger; */
    line-height:1.25em;
}
a,:link,:hover,:active,:visited{
    text-decoration:none;
}
a{
    font-weight:200;
    color:#98A9E9;
    padding:1em .5em;
    transition: all 0.2s ease-in-out;
}
a:hover{
    color:#0A0908;
    background-color:#98A9E9;
    transition: all 0.2s ease-in-out;
}

/* NAV BAR */
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:30px;
    margin-bottom:30px;
    border-bottom:#98A9E9 solid 1px;
}
.mob-nav{
    display:none;
}
.logo{
    background-image:url("../assets/logo-icon__color.svg");
    background-repeat:no-repeat;
    height:30px;
    width:30px;
    display:flex;
    align-items:center;
    flex-grow:1;
    transition: all 0.2s ease-in-out;
}
.logo:hover{
    background-image:url("../assets/logo-icon_color-filled-01.svg");
    background-color:transparent;
    transition: all 0.2s ease-in-out;
}
#desktop-nav__links{
    display:flex;
    flex-direction:row;
    gap:30px;
}

/* HEADER */
header{
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:1fr 1fr;
}
.title{
    margin-right:30px;
}
.title h1{
    grid-column:1/2;
    grid-row:1/2;
    margin:0;
}
.title h2{
    margin-bottom:30px;
}
.profile{
    grid-column:2/3;
    grid-row:1/3;
    display:flex;
    flex-direction:column;
}
@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
.profile-pic{
    grid-column:2/3;
    grid-row:1/4;
    background-image:url("../assets/profile_square.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;
    height:0;
    padding-bottom:100%;
    min-height:500px;
}
.pointer{
    grid-column:1/2;
    grid-row:2/3;
    width:50%;
    height:30%;
    margin-left:50%;
    border-left:#98A9E9 solid 1px;
    border-bottom:#98A9E9 solid 1px;
    padding-left:15px;
    padding-bottom:15px;
    display:flex;
}
.tiny{
    font-size:1em;
    align-self:flex-end;
}
.about{
    grid-column:1/2;
    grid-row:2/3;
    min-width:300px;
    margin-top:30px;
    margin-right:30px;
    align-self:end;
}
.about p{
    font-size:1.5em;
}
.about a{
    margin:0;
    padding:0;
    text-decoration:underline;
}
.skip-down{
    margin-top:30px;
    width:100%;
    margin-bottom:200px;
}
a.skip-down__icon{
    background-image:url(../assets/icons/icon__down-arrow.svg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:30px;
    width:30px;
    float:right;
    background-color:transparent;
    scroll-behavior:smooth;
    transition:all 0.3s ease-in-out;
}
a.skip-down__icon:hover{
    background-image:url(../assets/icons/icon__down-arrow-hover.svg);
    background-color:transparent;
}

/* WORK */
#work{
    scroll-behavior:smooth;
    margin-bottom:200px;
}
#work .title, #contact .title{
    margin:0;
    border-bottom:#98A9E9 solid 1px;
}
.flex{
    display:flex;
    flex-direction:row;
}
.grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.left{
    grid-column:1/4;
}
.right{
    grid-column:2/5;
}
.project{
    display:grid;
    grid-template-rows:200px auto;
    grid-template-columns:200px auto;
    margin-top:30px;
    column-gap:30px;
}
.project__title{
    width:200px;
    height:200px;
    margin-bottom:30px;
    margin-right:30px;
    display:flex;
    border:#98A9E9 solid 1px;
    transition: all 0.2s ease-in-out;
}
.project__title h2, .project__title h1{
    text-align:center;
    align-self:center;
    justify-self:center;
    vertical-align:center;
    float:center;
    margin:auto;
    padding:auto;
}
.project__title:hover{
    background-color:#98A9E9;
    transition: all 0.2s ease-in-out;
}
.project__title:hover h2, .project__title:hover h1{
    color:#0A0908;
    transition: all 0.2s ease-in-out;
}
.project__img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;
    min-height:280px;
    grid-column:2/3;
    grid-row:1/3;
    transition: all 0.2s ease-in-out;
    display:flex;
    padding:0;
}
.project__img p{
    display:none;
}
.project__img:hover{
    transition: all 0.2s ease-in-out;
}
.project__img:hover p{
    display:block;
    color:#0A0908;
    padding:15px;
    align-self:end;
    font-weight:normal;
    font-style:italic;
    text-transform:uppercase;
    transition: all 0.2s ease-in-out;
}
.project1{
    background-image:url(../assets/project1/project1__banner-small.png);
}
.project2{
    background-image:url(../assets/project2/project2__banner-small.png);
}
.project3{
    background-image:url(../assets/project3/project3__banner-small.png);
}
.project3:hover p, .project6:hover p{
    align-self:flex-start;
}
.project4{
    background-image:url(../assets/project4/project4__banner-small.png);
}
.project5:hover p, .project6:hover p{
    color:#98A9E9;
}
.project5{
    background-image:url(../assets/project5/project5__banner-small.png);
    border:#98A9E9 solid .5px;
}
.project6{
    background-image:url(../assets/project6/project6__banner-small.png);
    border:#98A9E9 solid .5px;
}
.project p{
    align-self:end;
}

/*CONTACT*/
#contact{
    margin-bottom:200px;
}
#contact .title{
    margin-bottom:30px;
}
.contact-grid{
    display:grid;
    grid-template-columns:50%;
}
#contact h2{
    margin-bottom:30px;
    grid-column:1/2;
    grid-row:1/2;
}
#contact .pointer{
    margin-right:30px;
    float:right;
    margin-left:auto;
}
.pointer__contact{
    grid-column:1/2;
    grid-row:2/3;
}
.contact-me{
    grid-column:2/4;
    grid-row:2/3;
    /* margin-left:30px; */
}
.contact-me a:hover{
    background:transparent;
}
.contact-me p{
    font-size:1.5em;
}
.pointer__find{
    grid-column:2/3;
    grid-row:3/4;
    /* padding-top:15px;
    height:45px; */
    padding:15px;
}
.find-me{
    grid-column:3/4;
    grid-row:3/4;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    /* margin-left:30px; */
    /* padding-top:30px; */
}
.find-me a{
    padding:0;
}
.skip-up{
    width:100%;
}
a.skip-up__icon{
    background-image:url(../assets/icons/icon__up-arrow.svg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:30px;
    width:30px;
    float:right;
    background-color:transparent;
    scroll-behavior:smooth;
    transition:all 0.3s ease-in-out;
    margin-bottom:30px;
}
a.skip-up__icon:hover{
    background-image:url(../assets/icons/icon__up-arrow-hover.svg);
    background-color:transparent;
}
/* FOOTER */
footer{
    border-top:#98A9E9 solid 1px;
    padding-top:30px;
    padding-bottom:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}


/* PROJECT PAGES*/
.banner__container{
    display:flex;
    justify-content:center;
}
.banner__text{
    margin-right:30px;
}
.banner__container h1{
    margin:0;
    padding:0;
}
.banner{
    max-width:100%;
    height:auto;
    max-height:500px;
}

@media only screen and (max-width:1100px) and (min-width:700px){
    .title h2{
        font-size:larger;
    }
    .about p{
        font-size:1.25em;
    }
}

@media only screen and (max-width:700px){
    /* MOBILE NAV BAR */
    .mob-nav{
        overflow:hidden;
        position:relative;
        display:block;
        width:100%;
    }
    .desktop-nav{
        display:none;
    }
    .mob-nav #navLinks{
        display:none;
        text-align:right;
    }
    .mob-nav #navLinks a{
        padding:1em;
        display:block;
        transition: all 0.3s ease-in-out;
        border-top:#98A9E9 solid 1px;

    }
    .mob-nav #logo{
        margin-bottom:.5em;
    }
    .icon{
        position:absolute;
        display:block;
        width:20px;
        height:20px;
        cursor:pointer;
        top:0;
        right:0;
    }
    .mob-nav .icon{
        background:transparent;
    }
    .mob-nav .icon span{
        position:absolute;
        margin-top:1em;
        width:20px;
        height:1px;
        background-color:#98A9E9;
        border-radius:1px;
        transition:all .3s ease-in-out;
    }
    .mob-nav .icon #navBars{
        transform: rotate(90deg);
    }
    .mob-nav .icon #navBars::before, .mob-nav .icon #navBars::after{
        content:"";
        transition: all 0.2s ease-in-out;
    }
    .mob-nav .icon #navBars::before{
        transform: translateY(10px);
    }
    .mob-nav .icon #navBars::after{
        transform:translateY(-10px);
        margin-bottom:3%;
    }
    .mob-nav .icon #navBars.active{
        transform: rotate(180deg);
    }

    /* HEADER */
    header{
        display:block;
    }
    .title{
        margin-right:0;
        margin-bottom:30px;
    }
    h1{
        font-size:12.25vw;
    }
    .pointer{
        display:none;
    }
    .about{
        margin-right:0;
        margin-top:30px;
    }
    .skip-down{
        float:left;
    }

    /* WORK */
    .left, .right{
        grid-column:1/5;
    }
    .project{
        display:flex;
        flex-direction:column;
        margin-top:60px;
    }
    .project__title{
        width:100%;
        height:auto;
        padding:30px auto;
        margin-bottom:15px;
        margin-right:0;
    }
    .right .project__title{
        align-self:flex-end;
    }
    .project p{
        align-self:center;
        margin-bottom:15px;
        text-align:center;
    }
    .project br{
        display:none;
    }

    /* CONTACT */
    .contact-grid {
        display:flex;
        flex-direction:column;
    }

    /* FOOTER */
    footer{
        flex-direction:column-reverse;
        align-items:center;
        gap:30px;
    }
}
